serialtest.xcodeproj/project.xcworkspace/xcuserdata/lix.xcuserdatad/UserInterfaceState.xcuserstate
serialtest.xcodeproj/xcshareddata/xcschemes/serialtest.xcscheme
serialtest.xcodeproj/xcuserdata/lix.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
serialtest.xcodeproj/xcuserdata/lix.xcuserdatad/xcschemes/xcschememanagement.plist
